.btn{
  background-color: cadetblue;
  width: 50px;
 
}

button{
  margin-left: 10px;
  background-color: cadetblue;
  width: 70px;
  margin-top: 10px;
 
}

.center{
  text-align: center;
}